@import "tailwindcss";

/* @layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
/* @import 'tailwindcss/preflight.css' layer(base); */
/* @import 'tailwindcss/utilities.css' layer(utilities); */ 

@custom-media --dark-theme (prefers-color-scheme: dark);
 

@theme {
  --color-cuteBlue: #32455A;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-trapColor: #f0f;
  --font-robotoMono: var(--font-roboto-mono);
  --font-julius: var(--font-julius);
  --font-alexBrush: var(--font-alex-brush);
  --font-oleoScript: var(--font-oleo-script);
  --font-caveatBrush: var(--font-caveatBrush);
          
}